.container {
  width: 100%;
  margin: 0 auto;
  .content {
    border-bottom: 2px solid #d0d0d0ab;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 92px;
      height: 92px;
    }
    .title {
      display: flex;
      gap: 100px;
      a {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        color: #000000;
      }
      a:hover{
        color: #0000007c;
        transition: 0.5s;
      }
      h2 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        color: #000000;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .content {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      .title {
        gap: 50px;
        a {
          font-size: 22px;
        }
        h2 {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 507px) {
  .container {
    .content {
      .title {
        gap: 30px;
        a {
          font-size: 21px;
        }
        h2 {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 453px) {
  .container {
    .content {
      .title {
        flex-direction: column;
      }
    }
  }
}
